study_07/__pycache__/caculate.cpython-37.pyc
study_07/__pycache__/make_print.cpython-37.pyc
study_07/helper/message_helper.py
study_07/helper/__pycache__/message_helper.cpython-37.pyc
study_08/__pycache__/Dog.cpython-37.pyc
study_08/__pycache__/Restaurant.cpython-37.pyc
study_08/__pycache__/Student.cpython-37.pyc
study_09/person.txt
study_10/__pycache__/Battery.cpython-37.pyc
study_10/__pycache__/Car.cpython-37.pyc
study_10/__pycache__/Pepole.cpython-37.pyc
study_10/__pycache__/User.cpython-37.pyc
